* {
  margin: 0;
  padding: 0;
}
button {
  padding: 0.4rem 0.8rem;
  border: none;
  font-size: 0.92rem;
  border-radius: 1rem;
}
button:hover {
  background-color: rgb(153, 255, 0);
  cursor: pointer;
}
*::selection {
  color: black;
  background-color: #d9ff00;
}
